<section class="contacts" id="section-contacts">
  <div class="container">
    <h2 class="is-hidden">contacts</h2>
    <ul class="contacts__card">
      <li class="contacts-card__item">
        <div class="contacts-thumb">
          <p class="contacts__text contacts__text--wrapper">CAFE</p>
          <strong class="contacts__text contacts__text--city">Chicago</strong>
          <p class="contacts__text contacts__text--secondary">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__list contacts__list--border">
          <li class="contacts__item contacts__item--weekdays">
            <p class="contacts__text contacts__text--days">Monday - Friday</p>
            <p class="contacts__text--accent">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__item contacts__item--weekend">
            <p class="contacts__text contacts__text--weekend">Saturday - Sunday</p>
            <p class="contacts__text--accent contacts__text--time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__list contacts__list--contacts">
          <li class="contacts__item">
            <a class="contacts__link" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="contacts-card__item">
        <div class="contacts-thumb">
          <p class="contacts__text contacts__text--wrapper contacts__text--light">FOOD TRUCK</p>
          <strong class="contacts__text contacts__text--city">Los Angeles</strong>
          <p class="contacts__text contacts__text--secondary">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__list contacts__list--border">
          <li class="contacts__item contacts__item--weekdays">
            <p class="contacts__text contacts__text--days">Monday - Friday</p>
            <p class="contacts__text--accent">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__item contacts__item--weekend">
            <p class="contacts__text contacts__text--weekend">Saturday - Sunday</p>
            <p class="contacts__text--accent contacts__text--time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__list contacts__list--contacts">
          <li class="contacts__item">
            <a class="contacts__link" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="contacts-card__item">
        <div class="contacts-thumb">
          <p class="contacts__text contacts__text--wrapper">CAFE</p>
          <strong class="contacts__text contacts__text--city">New York</strong>
          <p class="contacts__text contacts__text--secondary">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__list contacts__list--border">
          <li class="contacts__item contacts__item--weekdays">
            <p class="contacts__text contacts__text--days">Monday - Friday</p>
            <p class="contacts__text--accent">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__item contacts__item--weekend">
            <p class="contacts__text contacts__text--weekend">Saturday - Sunday</p>
            <p class="contacts__text--accent contacts__text--time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__list contacts__list--contacts">
          <li class="contacts__item">
            <a class="contacts__link" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <!--Buttons-->
    <ul class="contacts__list-btn">
      <li class="contacts__item-btn">
        <button class="contacts__button" type="button" data-modal-location-open>
          Our Locations
          <svg class="btn_arrow_icon btn_arrow_icon--light" width="8" height="10">
            <use href="./images/icons.svg#btn_arrow_icon"></use>
          </svg>
        </button>
      </li>
      <li class="contacts__item-btn">
        <button class="contacts__button contacts__button--light" type="button" data-modal-franchise-open>
          Franchise
          <svg class="btn_arrow_icon" width="8" height="10">
            <use href="./images/icons.svg#btn_arrow_icon"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
  <div class="backdrop is-hidden" data-modal-location>
    <div class="modal-location">
      <button class="modal-btn__close" type="button" data-modal-location-close>
        <svg class="close--icon">
          <use href="./images/icons.svg#close_menu_icon"></use>
        </svg>
      </button>
      <div class="modal-location__map">
        <iframe class="modal-location__map"
          src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d379748.17493394687!2d-87.85479847973825!3d41.96200405655542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sCafe%20ice%20creem!5e0!3m2!1sru!2spl!4v1642614840059!5m2!1sru!2spl"
          style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
  <div class="backdrop is-hidden" data-modal-franchise>
    <div class="modal-franchise">
      <button class="modal-btn__close" type="button" data-modal-franchise-close>
        <svg class="close--icon">
          <use href="./images/icons.svg#close_menu_icon"></use>
        </svg>
      </button>
      <form class="modal-franchise__form" autocomplete="on" novalidate>
        <p class="modal-franchise__title">Get Started Today!
          There’s no reason to wait, no obligation, and literally nothing to lose! <br> Leave your details, we
          will
          call
          you back.</p>

        <label class="modal-franchise__field">
          <span class="modal-franchise__name">Name</span>
          <input class="modal-franchise__input" type="text" name="name" />
          <svg class="form--icon">
            <use href="./images/icons.svg#person_icon"></use>
          </svg>
        </label>

        <label class="modal-franchise__field">
          <span class="modal-franchise__name">Phone</span>
          <input class="modal-franchise__input" type="tel" name="tel" />
          <svg class="form--icon">
            <use href="./images/icons.svg#phone_icon"></use>
          </svg>
        </label>

        <label class="modal-franchise__field">
          <span class="modal-franchise__name">E-mail</span>
          <input class="modal-franchise__input" type="email" name="email">
          <svg class="form--icon">
            <use href="./images/icons.svg#email_icon"></use>
          </svg>
        </label>
        <label class="modal-franchise__field">
          <span class="modal-franchise__name">Country</span>
          <select class="modal-franchise__select">
            <option class="modal-franchise__input" value="USA">USA</option>
            <option class="modal-franchise__input" value="Canada">Canada</option>
            <option class="modal-franchise__input" value="Norway">Norway</option>
            <option class="modal-franchise__input" value="Denmark">Denmark</option>
            <option class="modal-franchise__input" value="Poland">Poland</option>
          </select>
        </label>

        <button class="submit__button" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>