<footer class="site-footer">
  <div class="site-footer_container container">
    <div class="footer-subject">
      <h2 class="footer-subject__title">homemade ice cream made</h2>
      <p class="footer-subject__text">with passion</p>
    </div>
    <div class="footer-media">
      <ul class="media">
        <li class="media__item">
          <a class="media__link" href=""><svg class="media__svg githib__svg" width="19" height="19">
              <use href="./images/icons.svg#icon-github"></use></svg></a>
        </li>
        <li class="media__item">
          <a class="media__link" href=""><svg class="media__svg telegram__svg" width="19" height="14">
              <use href="./images/icons.svg#icon-telegram"></use></svg></a>
        </li>
        <li class="media__item">
          <a class="media__link" href=""><svg class="media__svg facebook__svg" width="19" height="19">
              <use href="./images/icons.svg#icon-facebook"></use></svg></a>
        </li>
      </ul>
      <p class="footer-media__text">
        Feel free to contact
        <a class="footer-media__link" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
      </p>
    </div>
    <div class="footer-copyright">
      <p class="footer-copyright__text">&#169; 2022 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
