<section class="gallery">
  <div class="container responsive">
    <h2 class="is-hidden">Gallery</h2>
    <div class="gallery__thumb">
      <div class="gallery__column">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/gallery/gallery01-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery01-@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source 
              srcset="
                ./images/tablet/gallery/gallery01-@1x.jpg 1x,
                ./images/tablet/gallery/gallery01-@2x.jpg 2x" 
                media="(max-width: 1279px)"/>

              <img
                srcset="
                  ./images/desktop/gallery/gallery01-@1x.jpg 1x,
                  ./images/desktop/gallery/gallery01-@2x.jpg 2x
                "
                src="./images/desktop/gallery/gallery01-@1x.jpg"
                alt="Green ice cream"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/gallery/gallery02-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery02-@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source 
              srcset="
                ./images/tablet/gallery/gallery02-@1x.jpg 1x,
                ./images/tablet/gallery/gallery02-@2x.jpg 2x" 
                media="(max-width: 1279px)"/>

              <img
                srcset="
                  ./images/desktop/gallery/gallery02-@1x.jpg 1x,
                  ./images/desktop/gallery/gallery02-@2x.jpg 2x
                "
                src="./images/desktop/gallery/gallery02-@1x.jpg"
                alt="Pink ice cream"
              />
            </picture>
          </div>
        </div>

        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/gallery/gallery03-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery03-@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source 
              srcset="
                ./images/tablet/gallery/gallery03-@1x.jpg 1x,
                ./images/tablet/gallery/gallery03-@2x.jpg 2x" 
                media="(max-width: 1279px)"/>

              <img
                srcset="
                  ./images/desktop/gallery/gallery03-@1x.jpg 1x,
                  ./images/desktop/gallery/gallery03-@2x.jpg 2x
                "
                src="./images/desktop/gallery/gallery03-@1x.jpg"
                alt="Pink ice with berry"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column big-pic">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/gallery/gallery04-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery04-@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source 
              srcset="
                ./images/tablet/gallery/gallery04-@1x.jpg 1x,
                ./images/tablet/gallery/gallery04-@2x.jpg 2x" 
                media="(max-width: 1279px)"/>

              <img
                srcset="
                  ./images/desktop/gallery/gallery04-@1x.jpg 1x,
                  ./images/desktop/gallery/gallery04-@2x.jpg 2x
                "
                src="./images/desktop/gallery/gallery04-@1x.jpg"
                alt="Many different ice creams"
              />
            </picture>
          </div>
        </div>

        <div class="gallery__row small-pic">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/gallery/gallery05-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery05-@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source 
              srcset="
                ./images/tablet/gallery/gallery05-@1x.jpg 1x,
                ./images/tablet/gallery/gallery05-@2x.jpg 2x" 
                media="(max-width: 1279px)"/>

              <img
                srcset="
                  ./images/desktop/gallery/gallery05-@1x.jpg 1x,
                  ./images/desktop/gallery/gallery05-@2x.jpg 2x
                "
                src="./images/desktop/gallery/gallery05-@1x.jpg"
                alt="Smiling girl with ice cream"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column down-pic">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/gallery/gallery06-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery06-@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source srcset="
                ./images/tablet/gallery/gallery06-@1x.jpg 1x,
                ./images/tablet/gallery/gallery06-@2x.jpg 2x" 
                media="(max-width: 1279px)"/>

              <img
                srcset="
                  ./images/desktop/gallery/gallery06-@1x.jpg 1x,
                  ./images/desktop/gallery/gallery06-@2x.jpg 2x
                "
                src="./images/desktop/gallery/gallery06-@1x.jpg"
                alt="Ice cream with berries in a bowl"
              />
            </picture>
          </div>
        </div>

        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/gallery/gallery07-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery07-@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source srcset="
                ./images/tablet/gallery/gallery07-@1x.jpg 1x,
                ./images/tablet/gallery/gallery07-@2x.jpg 2x" 
                media="(max-width: 1279px)"/>

              <img
                srcset="
                  ./images/desktop/gallery/gallery07-@1x.jpg 1x,
                  ./images/desktop/gallery/gallery07-@2x.jpg 2x
                "
                src="./images/desktop/gallery/gallery07-@1x.jpg"
                alt="Red ice cream"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column up-pic">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/gallery/gallery08-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery08-@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source 
              srcset="
                ./images/tablet/gallery/gallery08-@1x.jpg 1x,
                ./images/tablet/gallery/gallery08-@2x.jpg 2x" 
                media="(max-width: 1279px)"/>

              <img
                srcset="
                  ./images/desktop/gallery/gallery08-@1x.jpg 1x,
                  ./images/desktop/gallery/gallery08-@2x.jpg 2x
                "
                src="./images/desktop/gallery/gallery08-@1x.jpg"
                alt="Dog licks ice cream"
              />
            </picture>
          </div>
        </div>

        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/gallery/gallery09-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery09-@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source 
              srcset="
                ./images/tablet/gallery/gallery09-@1x.jpg 1x,
                ./images/tablet/gallery/gallery09-@2x.jpg 2x" 
                media="(max-width: 1279px)"/>

              <img
                srcset="
                  ./images/desktop/gallery/gallery09-@1x.jpg 1x,
                  ./images/desktop/gallery/gallery09-@2x.jpg 2x
                "
                src="./images/desktop/gallery/gallery09-@1x.jpg"
                alt="Chocolate cocktail"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__column down-pic">
        <div class="gallery__row">
          <div class="picture__wrapper">
            <picture>
              <source
                srcset="
                  ./images/mobile/gallery/gallery10-@1x.jpg 1x,
                  ./images/mobile/gallery/gallery10-@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source 
              srcset="
                ./images/tablet/gallery/gallery10-@1x.jpg 1x,
                ./images/tablet/gallery/gallery10-@2x.jpg 2x" 
                media="(max-width: 1279px)"/>

              <img
                srcset="
                  ./images/desktop/gallery/gallery10-@1x.jpg 1x,
                  ./images/desktop/gallery/gallery10-@2x.jpg 2x
                "
                src="./images/desktop/gallery/gallery10-@1x.jpg"
                alt="Milkshake with donut and whipped cream"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
