<section class="hero" id="hero">
  <div class="container">
    <header class="page-header">
      <div class="menu-wrapper">
        <a class="logo-link" href="">
          <img src="./images/logo1.png" alt="logo ice cream" />
          <span class="logo-text">Icecream</span>
        </a>
        <button class="burger-btn js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
          <svg width="20" height="12">
            <use href="./images/icons.svg#burger_menu_icon"></use>
          </svg>
        </button>

        <div class="menu-container js-menu-container" id="mobile-menu">
          <button class="close-btn js-close-menu">
            <svg width="14" height="14">
              <use href="./images/icons.svg#close_menu_icon"></use>
            </svg>
          </button>
          <button class="menu-btn" type="button" data-modal-open>
            Buy now
            <svg class="btn-icon" height="10" width="8">
              <use href="./images/icons.svg#btn_arrow_icon"></use>
            </svg>
          </button>
          <div class="menu-wrapper">
            <nav class="navigation">
              <ul class="navigation-list">
                <li class="navigation-list__item">
                  <a class="navigation-list__link active" href="./index.html">Home</a>
                </li>
                <li class="navigation-list__item">
                  <a class="navigation-list__link" href="./index.html#section-advantages"
                    >About us</a
                  >
                </li>
                <li class="navigation-list__item">
                  <a class="navigation-list__link" href="./index.html#section-about"
                    >How it’s made?</a
                  >
                </li>
                <li class="navigation-list__item">
                  <a class="navigation-list__link" href="./index.html#section-products"
                    >Our products</a
                  >
                </li>
                <li class="navigation-list__item">
                  <a class="navigation-list__link" href="./index.html#section-contacts">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <button class="header-btn" type="button" data-modal-open2>
          Buy now
          <svg class="btn-icon" height="10" width="8">
            <use href="./images/icons.svg#btn_arrow_icon"></use>
          </svg>
        </button>
      </div>
    </header>

    <div class="hero-heading">
      <h1 class="hero-title">ice cream made with <span class="hero-accent">passion</span></h1>
      <ul class="hero-tittle__btn">
        <li class="hero-title__item">
          <a class="hero-button hero-button__primary" href="./index.html#section-products"
            >Products</a
          >
        </li>
        <li>
          <a class="hero-button hero-button__secondary" href="./index.html#section-about"
            >How it’s made?</a
          >
        </li>
      </ul>
      <div class="milk-thumb">
        <div class="milk-picture">
          <picture>
            <source
              srcset="./images/tablet/hero/milk-@1x.png 1x, ./images/tablet/hero/milk-@2x.png 2x"
              media="(max-width: 1279px)"
            />

            <img
              class="animate__heartBeat"
              srcset="./images/desktop/hero/milk-@1x.png 1x, ./images/desktop/hero/milk-@2x.png 2x"
              src="./images/desktop/hero/milk-@1x.png"
              alt="Ice cream"
            />
          </picture>
        </div>
        <div class="milk-text__thumb">
          <p class="milk-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <div class="milk-btn__thumb">
            <button class="milk-btn" type="button">
              <svg class="milk-svg" width="10" height="10">
                <use href="./images/icons.svg#arrow_right_icon"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="girl-thumb">
        <picture>
          <source
            srcset="./images/tablet/hero/girl-@1x.png 1x, ./images/tablet/hero/girl-@2x.png 2x"
            media="(max-width: 1279px)"
          />

          <img
            class="girl-ice-image"
            srcset="./images/desktop/hero/girl-@1x.png 1x, ./images/desktop/hero/girl-@2x.png 2x"
            src="./images/desktop/hero/girl-@1x.png"
            alt="Girl with ice cream"
          />
        </picture>
      </div>
    </div>
    <div class="hero-image__thumb">
      <div class="hero-circle animate__bounceIn"></div>

      <picture>
        <source
          srcset="
            ./images/mobile/hero/icecream-@1x.png 1x,
            ./images/mobile/hero/icecream-@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/tablet/hero/icecream-@1x.png 1x,
            ./images/tablet/hero/icecream-@2x.png 2x
          "
          media="(max-width: 1279px)"
        />

        <img
          class="hero-image"
          srcset="
            ./images/desktop/hero/icecream-@1x.png 1x,
            ./images/desktop/hero/icecream-@2x.png 2x
          "
          src="./images/desktop/hero/icecream-@1x.png"
          alt="Ice cream"
        />
      </picture>
    </div>
    <ul class="hero-label">
      <li class="hero-label__item animate__bounceIn">
        <p class="hero-label__text">16</p>
        <p class="hero-label__span">cafes</p>
      </li>
      <li class="animate__bounceIn">
        <p class="hero-label__text">23</p>
        <p class="hero-label__span">food tracks</p>
      </li>
    </ul>
  </div>
  <div class="backdrop is-hidden" data-modal>
    <div class="modal-buy-now">
      <button class="modal-btn__close" type="button" data-modal-close>
        <svg class="close--icon">
          <use href="./images/icons.svg#close_menu_icon"></use>
        </svg>
      </button>
      <form class="modal-buy-now__form" autocomplete="on" novalidate>
        <p class="modal-buy-now__title">Leave your details, we will call you back.</p>

        <label class="modal-buy-now__field">
          <span class="modal-buy-now__name">Name</span>
          <input class="modal-buy-now__input" type="text" name="name" />
          <svg class="form--icon">
            <use href="./images/icons.svg#person_icon"></use>
          </svg>
        </label>

        <label class="modal-buy-now__field">
          <span class="modal-buy-now__name">Phone</span>
          <input class="modal-buy-now__input" type="tel" name="tel" />
          <svg class="form--icon">
            <use href="./images/icons.svg#phone_icon"></use>
          </svg>
        </label>

        <label class="modal-buy-now__field">
          <span class="modal-buy-now__name">E-mail</span>
          <input class="modal-buy-now__input" type="email" name="email" />
          <svg class="form--icon">
            <use href="./images/icons.svg#email_icon"></use>
          </svg>
        </label>
        <label class="modal-buy-now__field">
          <span class="modal-buy-now__name">How can we help you?</span>
          <textarea
            class="modal-buy-now__feedback feedback__input"
            name="feedback"
            placeholder="Enter text"
          ></textarea>
        </label>

        <button class="submit__button" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
