    <section class="products__section" id="section-products">
      <div class="container">
        <p class="products__pre-title">100% natural</p>
        <h2 class="products__title">products</h2>

        <div class="products">
          <ul class="products__list">
            <li class="products__item ice-cream">
              <div class="products__card ice-cream-card">
                <h3 class="products__card-title">ice cream</h3>
                <p class="products__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <button class="products__btn">
                  <svg class="products__btn-icon" width="11" height="10">
                    <use href="./images/mobile/products/icons.svg#arrow_right_icon">
                    </use>
                  </svg>
                </button>
              </div>
            </li>
            <li class="products__item ice-coffee">
              <div class="products__card coffee-card">
                <h3 class="products__card-title">ice coffee</h3>
                <p class="products__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <button class="products__btn">
                  <svg class="products__btn-icon" width="11" height="10">
                    <use href="./images/mobile/products/icons.svg#arrow_right_icon">
                    </use>
                  </svg>
                </button>
              </div>
            </li>
            <li class="products__item milkshake">
              <div class="products__card milkshake-card">
                <h3 class="products__card-title">milkshakes</h3>
                <p class="products__card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <button class="products__btn">
                  <svg class="products__btn-icon" width="11" height="10">
                    <use href="./images/mobile/products/icons.svg#arrow_right_icon">
                    </use>
                  </svg>
                </button>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </section>