<section class="reviews">
    <div class="container">
        <h1 class="is-hidden">Reviews</h1>
            <ul class="slider">
                  <li class="slider__item">
                      <article class="customer-card">
                            <h2 class="is-hidden">The Cards</h2>
                          <div class="reviews__photo">
                    <img 
                     src="./images/customers/face1.jpg" alt="photo-one">
                          </div>
                       <div class="reviews-card__color">
                                <div class="reviews-block__text">
                            <p class="block__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                                nulla quam nunc, accumsan
                                congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
                    </div>
                    <div class="reviews-home">
                        <p class="reviews-home__name">Emily, Los Angeles</p>
                    </div>
                </article>
            </li>
        

    <li class="slider__item">
        <article class="customer-card">
            <h2 class="is-hidden">The Cards</h2>
            <div class="reviews__photo">
                <img src="./images/customers/face2.jpg" alt="photo-two">
            </div>
            <div class="reviews-card__color">
                <div class="reviews-block__text">
                    <p class="block__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                        hendrerit
                        nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
            </div>
    <div class="reviews-home">
                            <p class="reviews-home__name">Ebony, Texas</p>
                        </div>
    </article>
    </li>
                <li class="slider__item">
                    <article class="customer-card">
                        <h2 class="is-hidden">The Cards</h2>
                    <div class="reviews__photo">
                        <img src="./images/customers/face3.jpg" alt="photo-three">
                    </div>
                        <div class="reviews-card__color">
                            <div class="reviews-block__text">
                            <p class="block__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                    hendrerit
                                    nulla quam nunc, accumsan
                                    congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                
                </div>
                </div>
                <div class="reviews-home">
                <p class="reviews-home__name">Johanna, Los Santos</p>
                </div>
                </article>
            </li>
    </ul>
    </div>
    </section>