.products__section {
    padding: 121px 0 98px;

    @media screen and (min-width: 768px) {
        padding: 121px 0 112px;
    }

    @media screen and (min-width: 1280px) {
        padding: 127px 0 119px;
    }
}

.products__pre-title {
    @include font($secondary-font, 18px, normal, 1.17, 0.04em, $secondary-accent-color);

    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        @include font($secondary-font, 26px, normal, 1.15, 0.04em, $secondary-accent-color);
    }

    @media screen and (min-width: 1280px) {
        @include font($secondary-font, 34px, normal, 1.13, 0.04em, $secondary-accent-color);
    }
}

.products__title {
    @include font($secondary-font, 34px, normal, 1.15, 0.04em, $main-accent-color);

    margin-bottom: 144px;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        @include font($secondary-font, 48px, normal, 1.14, 0.04em, $main-accent-color);

        margin-bottom: 150px;
    }

    @media screen and (min-width: 1280px) {
        @include font($secondary-font, 58px, normal, 1.13, 0.06em, $main-accent-color);

        margin-bottom: 259px;
        }
}

.products__list {
    margin-bottom: -130px;



    @media screen and (min-width: 768px) {
        display: flex;
        margin-bottom: 0;
        margin-right: -20px;
    }

    @media screen and (min-width: 1280px) {
        margin-right: -24px;
    }
}

.products__item {
    position: relative;
    margin-bottom: 130px;

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 40px) / 3);
        margin-right: 20px;
        margin-bottom: 0;
    }

    @media screen and (min-width: 1280px) {
        flex-basis: calc((100% - 36px) / 3);
        margin-right: 24px;
    }

&.ice-cream::before {
    content: "";
    background-image: url('./../images/mobile/products/mobile-icecream1x.png');
    background-repeat: no-repeat;
    background-size: 249px 252px;

    position: absolute;
    display: block;
    width: 249px;
    height: 252px;

    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('./../images/mobile/products/mobile-icecream2x.png');
    }

    @media screen and (min-width: 768px) {
        background-image: url('./../images/tablet/products/tablet-icecream1x.png');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('./../images/tablet/products/tablet-icecream2x.png');
        }
    }

    @media screen and (min-width: 1280px) {
        background-image: url('./../images/desktop/products/desktop-icecream1x.png');
        background-size: 335px 335px;
        width: 335px;
        height: 335px;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('./../images/desktop/products/desktop-icecream2x.png');
        }
    }
}

&.ice-coffee::before {
    content: "";
    background-image: url('./../images/mobile/products/mobile-icecoffee1x.png');
    background-repeat: no-repeat;
    background-size: 249px 252px;

    position: absolute;
    display: block;
    width: 249px;
    height: 252px;

    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('./../images/mobile/products/mobile-icecoffee2x.png');
    }

        @media screen and (min-width: 768px) {
        background-image: url('./../images/tablet/products/tablet-icecoffee1x.png');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('./../images/tablet/products/tablet-icecoffee2x.png');
        }
    }

        @media screen and (min-width: 1280px) {
        background-image: url('./../images/desktop/products/desktop-icecoffee1x.png');
        background-size: 335px 335px;
        width: 335px;
        height: 335px;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('./../images/desktop/products/desktop-icecoffee2x.png');
        }
    }
}

&.milkshake::before {
    content: "";
    background-image: url('./../images/mobile/products/mobile-milkshakes1x.png');
    background-repeat: no-repeat;
    background-size: 249px 252px;

    position: absolute;
    display: block;
    width: 249px;
    height: 252px;

    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('./../images/mobile/products/mobile-milkshakes2x.png');
        }

                @media screen and (min-width: 768px) {
        background-image: url('./../images/tablet/products/tablet-milkshakes1x.png');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('./../images/tablet/products/tablet-milkshakes2x.png');
        }
    }

    @media screen and (min-width: 1280px) {
        background-image: url('./../images/desktop/products/desktop-milkshakes1x.png');
        background-size: 335px 335px;
        width: 335px;
        height: 335px;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('./../images/desktop/products/desktop-milkshakes2x.png');
        }
    }
    }
}

.products__card {
    width: 100%;
    max-width: 280px;
    background-color: $cream-card-background-color;
    border-radius: 24px;
    padding-left: 41px;
    padding-right: 39px;
    padding-top: 161px;
    padding-bottom: 41px;

    @media screen and (max-width: 767px) {
        margin: 0 auto;
    }

    @media screen and (min-width: 768px) {
        padding: 152px 23px 40px;
        max-width: 220px;
    }

    @media screen and (min-width: 1280px) {
        padding: 163px 44px 50px;
        max-width: 330px;
    }
    
    &.coffee-card {
        background-color: $coffee-card-background-color;
    }

    &.milkshake-card {
        background-color: $shake-card-background-color;
    }
}

.products__card-title {
    @include font($secondary-font, 20px, normal, 1.15, 0.04em, $main-light-color);

    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;

    &::after {
        content: "...";
        display: block;
        margin: 0 auto;
        letter-spacing: 4px;
        font-weight: bold;
        margin-top: 15px;
    }

    @media screen and (min-width: 1280px) {
        @include font($secondary-font, 30px, normal, 1.13, 0.04em, $main-light-color);
        margin-top: 38px;
    }
}

.products__card-text {
    @include font($primary-font, 14px, bold, 1.52, 0.04em, $main-light-color);

    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: 1280px) {
        @include font($primary-font, 16px, bold, 1.76, 0.04em, $main-light-color);
    }
}

.products__btn {
    display: block;
    margin: auto;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    border: none;
    border-color: transparent;
    cursor: pointer;

    background-color: $main-light-color;
    transition: border 150ms $function, border-color 150ms $function;

    &:hover,
    &:focus {
        border: 1.8px solid;
        border-color: $main-accent-color;
    }

    @media screen and (min-width: 1280px) {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.products__btn-icon {
    fill: $main-accent-color;

    @media screen and (min-width: 1280px) {
        width: 16px;
        height: 15px;
    }
}