.reviews {
  padding-top: 40px;
  padding-bottom: 43px;
  @media screen and (min-width: 768px) {
    padding-top: 61px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 62px;
    padding-bottom: 66px;
  }
}
.wrapper {
  position: relative;
}
.slider__item {
  text-align: center;
  // background-color: $main-background-color;
  /* Center slide text vertically */
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: -webkit-flex;
  // display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  @media (min-width: 768px) {
    width: 926px;
  }
}
.customer-card {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // @include flex($display: flex, $ai: center, $jc: center, $direction: column);
}
.reviews__photo {
  max-width: 85px;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 29px;
}
.reviews-card__color {
  // padding-top: 71px;
  // padding-bottom: 20px;
  @include sectionMixin($t: 71px, $b: 20px);
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 30px;
  background-color: $review-background-color;

  @media screen and(min-width:768px) {
    width: 620px;
  }

  @media screen and(min-width:1280px) {
    width: 926px;
  }
}
.reviews-card {
  background: repeating-linear-gradient(#e1e1e1 1px, transparent 2px, transparent 31px);
  min-width: 180px;
  padding-left: 50px;
  padding-right: 50px;
}
.reviews-block__text {
  position: relative;
  width: 180px;
  height: 217px;
  background: repeating-linear-gradient(#e1e1e1 1px, transparent 2px, transparent 31px);
  @media screen and(min-width:480px) {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
    height: 105px;
  }
  @media screen and(min-width:768px) {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 90px;
  }

  @media screen and(min-width:1280px) {
    width: 800px;
    height: 60px;
  }
}
// .reviews-block__text:before {
//   content: '';
//   background-image: url('./../images/customers/marker.svg');
//   position: absolute;
//   width: 54px;
//   height: 40px;
//   top: 125px;
//   left: 90px;
// }
.reviews-block {
  margin-left: auto;
  margin-right: auto;
}

.block__text {
  position: absolute;
  bottom: 0px;
  left: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  color: $main-dark-color;
  width: 180px;
  padding-left: 23px;
  padding-right: 23px;
  z-index: 1;
  @media (min-width: 480px) {
    width: 370px;
    left: -10px;
    bottom: 10px;
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
  }
  @media screen and(min-width:768px) {
    width: 460px;
    bottom: 25px;
    left: -10px;
  }

  @media screen and(min-width:1280px) {
    width: 822px;
    bottom: 25px;
    left: -10px;
    font-size: 16px;
    line-height: 1.86;
  }
}
.block__text::before {
  content: '';
  display: block;
  width: 54px;
  height: 40px;

  position: absolute;
  top: -16px;
  left: 10px;

  background-image: url('./../images/customers/marker.svg');
  background-position: center;
  background-repeat: no-repeat;

  z-index: -1;

  @media screen and(min-width:768px) {
    left: -15px;
  }

  @media screen and(min-width:1280px) {
    left: -20px;
  }
}
.reviews-nome {
  background-color: $main-background-color;
  height: 100px;
}
.reviews-home__name {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;

  margin-bottom: 30px;

  @media screen and(min-width:768px) {
    font-size: 16px;

    margin-bottom: 35px;
  }

  @media screen and(min-width:1280px) {
    font-size: 20px;
  }
}

.reviews-home__name::before {
  content: '';
  display: block;
  height: 4px;
  background-image: url('./../images/customers/ellipses.svg');
  background-position: center;
  background-repeat: no-repeat;

  margin-bottom: 18px;
}
// .reviews-home__name::after {
//   content: '';
//   height: 12px;
//   background-image: url('./../images/customers/home.svg');
//   background-position: center;
//   background-repeat: no-repeat;
//   margin-top: 30px;
// }
// .swiper-pagination-bullet-active {
//   background-image: url('./../images/customers/home.svg');
//   --swiper-theme-color: $main-light-color;
//   background-size: cover;
//   border-radius: unset;
//   width: 12px;
//   height: 12px;
// }
.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider {
  min-width: 0;
  overflow: hidden;
}

.slider__item {
  text-align: center;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
}

.slider .slick-dots button {
  padding: 0;
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  border: 0;
  margin: 0 9px;
  cursor: pointer;
}

.slider .slick-dots .slick-active button {
  background-image: url(./../images/customers/home-alone.svg);
  border-radius: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}
